/*Second
/* .card {
    margin: 12px;
    padding: 12px;
    max-width: 300px;
    text-align: center;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 2%, 31%, 0.1);
    display: inline-block;
}

.card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsla(0, 0%, 0%, 20%);
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
}
--------------------------------------------------------------------------------------------- 
*/

/*Third 
How to style React components with css External, modules, inline*/
/* .button {
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
} */
/*------------------------------------------------------------------------------------------*/

/*Fourth*/
/* .student {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 10px;
}

.student p {
    margin: 0px;
} 
-----------------------------------------------------------------------------------------------*/

/**Fifth*/
/* .welcome-messege {
    text-align: center;
    font-size: 2.5rem;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
}

.login-prompt {
    text-align: center;
    font-size: 2.5rem;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
} 
---------------------------------------------------------------------------------------------------*/

/*Sixth*/
/* .list-category {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid darkgreen;
    border-radius: 5px;
    background-color: green;
}

.list-items li {
    font-size: 2em;
    list-style: none;
    text-align: center;
    margin: 0px;
}

.list-items li:hover {
    border-radius: 5px;
    cursor: pointer;
    color: slategrey;
} 
---------------------------------------------------------------------------------------------------*/