/*Second
/* .card {
    margin: 12px;
    padding: 12px;
    max-width: 300px;
    text-align: center;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 2%, 31%, 0.1);
    display: inline-block;
}

.card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsla(0, 0%, 0%, 20%);
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
}
--------------------------------------------------------------------------------------------- 
*/

/*Third 
How to style React components with css External, modules, inline*/
/* .button {
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
} */
/*------------------------------------------------------------------------------------------*/

/*Fourth*/
/* .student {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 10px;
}

.student p {
    margin: 0px;
} 
-----------------------------------------------------------------------------------------------*/

/**Fifth*/
/* .welcome-messege {
    text-align: center;
    font-size: 2.5rem;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
}

.login-prompt {
    text-align: center;
    font-size: 2.5rem;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
} 
---------------------------------------------------------------------------------------------------*/

/*Sixth*/
/* .list-category {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid darkgreen;
    border-radius: 5px;
    background-color: green;
}

.list-items li {
    font-size: 2em;
    list-style: none;
    text-align: center;
    margin: 0px;
}

.list-items li:hover {
    border-radius: 5px;
    cursor: pointer;
    color: slategrey;
} 
---------------------------------------------------------------------------------------------------*/

/*Seventh*/
/* .profile-image {
    border: 3px solid black;
    border-radius: 12px;
    padding: 12px;
    width: 220px;
    height: 220px;
} 
---------------------------------------------------------------------------------------------------*/

/*Eight*/
/* .counter-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.count-display {
    font-size: 10rem;
    margin-top: 0px;
    margin-bottom: 50px;
}

.counter-button {
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: rgb(14, 124, 167);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.counter-button:hover {
    background-color: lightskyblue;
    color: blue;
} 
--------------------------------------------------------------------------*/

/*tenth*/
/* body {
    font-family: Arial, Helvetica, sans-serif;
}
.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 50px;
    font-size: 3rem;
}

.color-display {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25 ease;
}

.color-display p {
    color: darkgray;
    font-size: 2rem;
    text-align: center;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type='color'] {
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 80%);
} 
----------------------------------------------------------------------------------------*/

/*Sixteenth*/
/* body {
    background-color: hsl(0, 0%, 10%);
}

.to-do-list {
    margin: 12px auto;
    width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button {
    margin-left: 12px;
    background-color: yellowgreen;
}

.add-button:hover {
    background-color: darkgreen;
}

.delete-button {
    background-color: lightcoral;
}

.delete-button:hover {
    background-color: red;
}

.move-button {
    background-color: skyblue;
}

.move-button:hover {
    background-color: navy;
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid slategrey;
    border-radius: 5px;
}

ol {
    padding: 0px;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    border: 3px solid coral;
    border-radius: 5px;
    display: flex;
    align-items: center;
} */

/* .text {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.delete-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
} 
-----------------------------------------------------------------------------*/

/*eighteenth*/
/* body {
    background-image: url(assets/lofi2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}

.clock-container {
    width: 50vw;
    padding: 10px 0px;
    border: 2px solid coral;
    border-radius: 12px;
    margin: 130px auto;
    backdrop-filter: blur(5px);
}

.clock {
    color: white;
    font-size: 8rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 3px 3px 5px rgb(106, 90, 205);
    text-align: center;
} 
-----------------------------------------------------------------------------*/

